/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-darkText bg-softGray;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-plum font-display font-semibold;
}

